@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200&family=Zen+Loop&display=swap');

*{
    font-family: 'Albert Sans', sans-serif;
}

body{
    background-color: rgb(233, 222, 208);
    color: rgb(100, 92, 88);
}

/* main container */

.mainContainer {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}

/* search section */

.left-search{
    margin: 20px;
    background-color: antiquewhite;
}

.userInput{
}

/* search box */

/* search history */

.history-container{
}



/* right side */

.rightside{
    margin-left: 50px;
    justify-content: center;
}

/* greeting */

.header{
    padding: 15px;
}

/* current weather */

.currentContainer{
    background-color: blanchedalmond;
}

.currentBoxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.currentStats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    text-align:center;
    background-color: antiquewhite;
}

/* future container */

.futureContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    margin-top: 95px;
}

.eachCard {
    border-radius: 25px;
    width: 155px;
    height: 265px;
    margin: 10px;
    background: tan;
    background: tan;
    background: linear-gradient(90deg, rgba(168, 148, 127, 0.584) 100%, rgba(114, 91, 72, 0.761) 100%); 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}